<div id="div{{id}}" class="smpl_image_div" {{smpl_simplelist}}>
  <a href="{{imagelink}}" id="{{id}}" class="smpl_image_link{{class}}" title="{{imgsub}}" {{attrib}} >
    <img src="{{imgsrc}}" title="{{imgsub}}" alt="{{imgsub}}" id="img{{id}}" class="{{smpl_img}}" style="{{sty}}" />
  </a></div>